<!-- Events Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Program</h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Dimi_and_Anna/img/events/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ceremónia</h4>
                                <h4 class="subheading">17:30</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Az esküvői szertartás – a végén figyeld meg, hogy valamelyikük rálép-e a másik lábára – a bolgárok abban hisznek, hogy aki a másik lábára lép a ceremónia végén, az vezeti a háztartást! A szertartás után a pár közösen összetör egy poharat - a törött darabok száma a házasság hosszú élettartamát jelképezi</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Dimi_and_Anna/img/events/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Vacsora</h4>
                                <h4 class="subheading">18:45</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A fogadás és gálavacsora kezdete. Az este folyamán az ifjú házaspár hagyományosan  megtöri a kenyeret - a bolgárok úgy vélik, akinek a nagyobb darab marad a kezében az az erőssebb egyéniség</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Dimi_and_Anna/img/events/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Első tánc</h4>
                                <h4 class="subheading">19:10</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Az ifjú házasok első tánca</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Dimi_and_Anna/img/events/4.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Menyasszonyrablás</h4>
                                <h4 class="subheading">20:20</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Ez mind Magyarországon, mind Bulgáriában hagyomány - általában a férjnek kell különféle feladatokat elvégeznie, vagy megvesztegetnie a menyasszony családját és barátait, hogy visszakapja az újdonsült feleségét. A bolgárok inkább a szertartás előtt játszák el, a magyarok azonban az esti ünnepségek keretében kerítenek rá sort</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Dimi_and_Anna/img/events/5.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Torta</h4>
                                <h4 class="subheading">21:20</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Tortavágás – figyelj arra, hogy hogyan fogja a pár tortavágó kést, hiszen a magyarok abban hisznek, hogy a döntést hozó fél keze kerül felülre</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Dimi_and_Anna/img/events/6.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Zene és tánc</h4>
                                <h4 class="subheading">22:25</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Az este folyamán bolgár folklór táncosok és bolgárok bemutatják majd, hogyan kell "hora"-t táncolni – itt az ideje demonstralni a frissen megtanult tánclépéseket!</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>