<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gyakran Ismételt Kérdések</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Milyen lesz az idő?</h4>  
            <p class="largepad text-muted">A bolgár nyár rendkívül meleg és napos, július közepén a hőmérséklet 30°C körül van árnyékban nappal.</p>
            <h4 class="service-heading">Mi a Dresszkód?</h4>  
            <p class="largepad text-muted">A semi-formális öltözködési kódot választottuk, például a nőknek koktélruhát vagy divatos különállót, férfiaknak pedig öltönyt és esetleg nyakkendőt.</p>
            <h4 class="service-heading">Lesz-e fuvarszolgálat?</h4>  
            <p class="largepad text-muted">Igen, az esküvő napján transzfert szervezünk Plovdiv és a helyszín között.</p>
        </div>
    </div>
</section>