<!-- Travel Section -->
<section id="travel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Megközelíthetőség</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Repülővel</h4>
                <p class="text-muted">A legközelebbi reptér az SOF in Szófia. British Airways, Bulgaria Air (mindkettő London Heathrow-ról), WizzAir (London Lutonról) és Ryanair (London Stanstedről, Birminghamből és Edinburgh-ból) repül oda átszállás nélkül az Egyesült Királyságból. Alternatív repterek még az országban Bourgas (BOJ) és Várna (VRN) repterei, közel a tengerhez. WizzAir repül mindkét reptérre London Gatwickről és Lutonról, és Jet2.com repül Bourgasra különböző repterekről. Sajnos jelenleg nincs átszállás nélküli repülőút Budapest és Szófia között.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Autóval</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit ultricies pharetra. Donec maximus at neque a vehicula.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-train fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Tömegközlekedéssel</h4>
                <p class="text-muted">Ardatur és Flixbus indít távolsági buszjáratokat Budapest és Szófia (és Plovdiv) között, valamint vonattal is el lehet jutni Budapestről a bolgár fővárosba, viszont az többszöri átszállást igényel Románián keresztül: Budapest-Keleti pályaudvar - Videle (Románia) - Ruse (Bulgária) - Szófia.</p>
            </div>
        </div>
    </div>
</section>