<!-- Events Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Dimi_and_Anna/img/events/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ceremony</h4>
                                <h4 class="subheading">17:00</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The wedding ceremony - watch out at the end if any of them is stepping on the other's foot - Bulgarians believe whoever steps on the others foot is the one calling the shots! After the ceremony a glass will be broken - the number of broken pieces symbolize the longevity of the marriage</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Dimi_and_Anna/img/events/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Reception</h4>
                                <h4 class="subheading">18:45</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Starting of the reception & gala dinner. During the evening, the traditional Bulgarian bread will be broken between the newlywed couple - Bulgarians believe, the person getting the bigger piece is the one in charge.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Dimi_and_Anna/img/events/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>First dance</h4>
                                <h4 class="subheading">19:10</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The first dance of the newlyweds</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Dimi_and_Anna/img/events/4.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Stealing of the bride</h4>
                                <h4 class="subheading">20:20</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">This is a tradition from both Hungary & Bulgaria - usually the husband & groomsmen have to do various tasks or bribe the brides family & friends to return her. Bulgarians do tend to this prior the ceremony, however Hungarians do this as part of the evening festivities.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Dimi_and_Anna/img/events/5.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Cake</h4>
                                <h4 class="subheading">21:20</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Cutting the cake - pay attention to whose hands are on top of the knife cutting the cake, as Hungarians believe the person who makes the decisions has their hand on top of the other.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/Dimi_and_Anna/img/events/6.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Dancing & Music</h4>
                                <h4 class="subheading">22:25</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">During the evening, Bulgarian folklore dancers & the Bulgarians will show you how to dance "hora" - now is the time to practice it!</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>