<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Where To Stay</h2>
                <h3 class="section-subheading text-muted">The venue has some rooms and can sleep about 40 people, however requires a two night booking as a minimum. If you are planning to book a room at the venue - just quote "wedding 19/07" and you should get a discount. The closest available hotels are in Plovdiv, and there are also some reasonably priced Airbnb options.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        Forest View
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">The venue - a little hotel in the Rhodope mountains, offering various relaxation options from spa to hiking.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">4258 Kuklen, Bulgaria</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+359 88 895 9959</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.forest-view.bg/">https://www.forest-view.bg/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">0 km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        HillHouse Plovdiv
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">A quirky little hotel in the heart of Plovdiv, close to the artsy district.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">27 Saborna St., 4000 Center, Plovdiv</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+359 887 258 646</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.hillhouse.bg/">https://www.hillhouse.bg/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">29 km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        Soho Apart House
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">A modern hotel with walking distance to the city centre & old town.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Kamenitsa 1Plovdiv Center, ul. "Kapitan Raycho Nikolov" 23, 4000 Plovdiv, Bulgaria</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+359 887 888 891</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://en.soho-apart.bg/index.php">https://en.soho-apart.bg/index.php</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">32 km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Povdiv City Center Hotel
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">A hotel nested in the city center, within walking distance from Kapana & historical old town.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Plovdiv, 14 "Knyaz Alexander I street</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+359 89 546 9270</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://citycenter-hotel.com/en/homepage/">https://citycenter-hotel.com/en/homepage/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">30 km</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>