<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Често Задавани Въпроси</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Какво ще е времето?</h4>  
            <p class="largepad text-muted">Българското лято обикновено е супер горещо и слънчево, в средата на юли е около 30°C на сянка през деня.</p>
            <h4 class="service-heading">Какъв е дрескодът?</h4>  
            <p class="largepad text-muted">Избрахме полуофициален дрескод, например коктейлна рокля или елегантни отделни дрехи за жени и костюм и вратовръзка за мъже.</p>
            <h4 class="service-heading">Ще бъде ли организиран транспорт?</h4>  
            <p class="largepad text-muted">Да, в деня на сватбата ще организираме трансфер между Пловдив и мястото.</p>
        </div>
    </div>
</section>