<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Хотели</h2>
                <h3 class="section-subheading text-muted">Мястото разполага с няколко стаи и може да побере около 40 души, но изисква резервация за минимум две нощувки. Ако планирате да резервирате стая на място - просто цитирайте "сватба 19/07" и трябва да получите отстъпка. Най-близките налични хотели са в Пловдив, а има и някои опции за Airbnb на разумни цени.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        Форест Вю
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Мястото - малък хотел в Родопите, предлагащ различни възможности за отдих от СПА до туризъм.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">4258 Куклен, България</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+359 88 895 9959</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.forest-view.bg/">https://www.forest-view.bg/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">0 км</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        HillHouse Пловдив
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Малък хотел в сърцето на Пловдив, близо до артистичния квартал.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">ул. Съборна 27, 4000 Център, Пловдив</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+359 887 258 646</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.hillhouse.bg/">https://www.hillhouse.bg/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">29 км</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                </ul>
            </div>

            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        Soho Apart House
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Модерен хотел с пешеходно разстояние до центъра на града и стария град.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Каменица 1 Пловдив Център, ул. "Капитан Райчо Николов" 23, 4000 Пловдив, България</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+359 887 888 891</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://en.soho-apart.bg/index.php">https://en.soho-apart.bg/index.php</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">32 км</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Пловдив Сити Център Хотел
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Хотел, разположен в центъра на града, на пешеходно разстояние от Капана и историческия стар град.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Пловдив, ул. "Княз Александър I" 14</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+359 89 546 9270</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://citycenter-hotel.com/en/homepage/">https://citycenter-hotel.com/en/homepage/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">30 км</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>